<h1>Hacker news</h1>

<p>
  <%= link_to "New post", new_post_url %>
</p>

<ol>
  <% @posts.each_with_index do |post, index| %>
    <li> <%= render 'post', post: post, index: index %> </li>
  <% end %>
</ol>